/*Start Global Rule */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-section-top: 100px;
  --main-padding-section-bottom: 100px;
  --second-color: #ececec;
}
.html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
body {
  font-family: "cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*Small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*Medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  /*Large*/
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.spicks {
  position: relative;
}
.spicks::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 100%;

  right: 0;
  z-index: 1;
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
}
.dots{
  position: absolute;
  background-image: url(../images/dots.png);
  width:204px ;
  height:186px ;
  background-repeat: no-repeat;
}
.dots-up{
  top: 200px;
  right: 0;
}
.dots-down{
  bottom: 200px;
  left: 0;
}
/*End Global Rule */
/*Start Header */
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  font-size: 25px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -6px;
}
.header .logo span {
  padding-bottom: 9px;
  z-index: 2;
  font-size: 35px;
  padding-left: 1px;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 55px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto auto 10px auto;
  }
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 72px;
  position: relative;
  color: black;
  transition: var(--main-transition);
  overflow: hidden;
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  top: calc(100% + 1px);
  z-index: 1;
}
.header .main-nav > li > a::before {
  content: "";
  width: 100%;
  height: 4px;
  top: 0;
  background-color: var(--main-color);
  position: absolute;
  left: -100%;
  transition: var(--main-transition);
}

.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}

/*End Header */
/*Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  background-color: #ececec;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 72px);
  padding-bottom: 130px;
}
.landing .container .text {
  flex-basis: 1;
}
.landing .container .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}
.landing .container .text p {
  font-size: 23px;
  margin: 5px 0 0;
  line-height: 1.7;
  color: #666;
  max-width: 500px;
}
.landing .container .image img {
  position: relative;
  width: 600px;
  animation: up 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .container .text {
    text-align: center;
  }
  .landing .container .image img {
    display: none;
  }
  .landing .container .text p {
    margin: 15px auto;
  }
}
@media (max-width: 767px) {
  .landing .container .text h1 {
    font-size: 28px;
  }
  .landing .container .text p {
    font-size: 18px;
  }
}

.landing .go-down {
  left: 50%;
  color: var(--main-color);
  transform: translateX(-50%);
  position: absolute;
  bottom: 30px;
  transition: 0.3s;
  transition: var(--main-color);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down i {
  animation: boucing 1.5s infinite;
  position: relative;
}
/*End Landing */
/*Start Megamnue*/
.header .mega-menu {
  position: absolute;
  background-color: white;
  left: 0;
  z-index: -1;
  padding: 30px;
  width: 100%;
  border-bottom: 2px solid var(--main-color);
  display: flex;
  gap: 37px;
  align-items: center;
  transition: top var(--main-transition), opacity var(--main-transition);
  top: calc(100% + 50px);
  opacity: 0;
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menu img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu img {
    display: none;
  }
}

.header .mega-menu .links {
  flex: 1;
  min-width: 250px;
}
.header .mega-menu .links li {
  position: relative;
}

.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
  /* OR */
  /*.header .border-top {
    border-top: 1px solid #e9e6e6;
  }*/
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #fafafa;
  top: 0;
  left: 0;
  transition: var(--main-transition);
  width: 0;
  z-index: -1;
}
.header .mega-menu .links li:hover:before {
  width: 100%;
}
.header .mega-menu .links li a {
  display: block;
  padding: 15px;
  color: var(--main-color);
  font-size: 16px;
  font-weight: bold;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}

/*End Megamnue*/
/*Start Main Title */
.main-title {
  position: relative;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  border: 2px solid black;
  transition: var(--main-transition);
  z-index: 1;
  margin: 0 auto 80px;
}
.main-title::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);

  position: absolute;
  border-radius: 50%;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-to-right 0.5s linear forwards;
  box-shadow: 1px 1px 4px var(--main-color);
}
.main-title:hover::after {
  animation: right-to-left 0.5s linear forwards;
  z-index: -1;
  box-shadow: 1px 1px 4px var(--main-color);
}
/*End Main Title */
/*Start Article */

.article {
  padding-top: var(--main-padding-section-top);
  padding-bottom: var(--main-padding-section-bottom);
  position: relative;
}
.article .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.article .container .box {
  box-shadow: 0px 2px 15px rgba(0 0 0 /10%);
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  transition: trasform var(--main-transition) box-shadow var(--main-transition);
}
.article .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 2px 15px rgba(0 0 0 /20%);
}
.article .container .box img {
  max-width: 100%;
}
.article .container .box .content {
  padding: 20px 20px 0;
}
.article .container .box .content h3 {
  margin: 0;
}
.article .container .box .content p {
  line-height: 1.5;
  color: #777;
  margin: 10px 0 15px;
}
.article .container .box .info {
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}
.article .container .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.article .container .box .info i {
  color: var(--main-color);
}
.article .container .box:hover i {
  animation: move-arrow 0.6s linear infinite;
  position: relative;
}
/*End Article*/

.gallary {
  padding-top: var(--main-padding-section-top);
  padding-bottom: var(--main-padding-section-bottom);
  position: relative;
  background-color: var(--second-color);
}

.gallary .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallary .container .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 /13%), 0 2px 4px 0 rgb(0 0 0 /12%);
}

.gallary .container .image {
  position: relative;
  overflow: hidden;
}
.gallary .container .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(250 250 250 / 20%);
  height: 0;
  width: 0;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
}
.gallary .container .image:hover::before {
  animation: 0.7s flashing;
}
.gallary .container .image img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallary .container .image:hover img {
  transform: rotate(6deg) scale(1.1);
}

/*Start Feature */
.feature {
  padding-top: var(--main-padding-section-top);
  padding-bottom: var(--main-padding-section-bottom);
  position: relative;
}
.feature .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.feature .container .box {
  text-align: center;
  border: 1px solid #ccc;
}
.feature .container .box .image-holder {
  position: relative;
  overflow: hidden;
}
.feature .container .box .image-holder::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1px;
  left: 0;
}
.feature .container .box .image-holder::after {
  content: "";
  position: absolute;
  border-color: transparent transparent white transparent;
  bottom: 0;
  right: 0;
  border-width: 0px 0 170px 500px;
  border-style: solid;
  transition: var(--main-transition);
}
.feature .container .box:hover .image-holder::after {
  border-width: 170px 500px 170px 0;
}
.feature .container .box h2 {
  font-size: 40px;
  width: fit-content;
  margin: auto;
  position: relative;
}
.feature .container .box h2::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 5px;
  bottom: -20px;
  left: 15px;
}
.feature .container .box p {
  line-height: 1.9;
  font-size: 20px;
  color: #777;
  margin: 30px 0;
  padding: 25px;
}
.feature .container .box a {
  border: 3px solid black;
  display: block;
  margin: 0 auto 30px;
  font-weight: bold;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 7px;
  font-size: 22px;
  transition: var(--main-transition);
}
.feature .container .box .image-holder img {
  max-width: 100%;
}
.feature .container .quality .image-holder::before {
  background-color: rgba(255, 0, 0, 0.326);
}
.feature .container .quality h2::after {
  background-color: #f44036;
}
.feature .container .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-position: right bottom;
  background-size: 200% 100%;
}
.feature .container .box:hover a {
  background-position: left bottom;
  color: white;
}

.feature .container .time .image-holder::before {
  background-color: hsla(174, 100%, 29%, 0.342);
}
.feature .container .time h2::after {
  background-color: #009688;
}
.feature .container .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-position: right bottom;
  background-size: 200% 100%;
}
.feature .container .box:hover a {
  background-position: left bottom;
  color: white;
}

.feature .container .passion .image-holder::before {
  background-color: #03a8f45b;
}
.feature .container .passion h2::after {
  background-color: #03a9f4;
}
.feature .container .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-position: right bottom;
  background-size: 200% 100%;
}
.feature .container .box:hover a {
  background-position: left bottom;
  color: white;
}

/*End Feature */
/*Start testimonials*/
.testimonials {
  padding-top: var(--main-padding-section-top);
  padding-bottom: var(--main-padding-section-bottom);
  /*position: relative;*/
  background-color: var(--second-color);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}
.testimonials .container .box {
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.077);
  background-color: white;
  text-align: left;
  padding: 10px 20px;
  position: relative;
}
.testimonials .container .box img {
  position: absolute;
  width: 100px;
  top: -50px;
  right: -9px;
  border-radius: 50%;
  border: 12px solid var(--second-color);
}
.testimonials .container .box h3 {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}
.testimonials .container .box .title {
  color: #777;
  word-spacing: 1px;
  /*margin: 5px 0;*/

  font-size: 18px;
}
.testimonials .container .box .rate {
  padding-top: 10px;
  position: relative;
}
.testimonials .container .box .rate .filled {
  /*position: absolute;*/
  color: gold;
  /*width: 20px;
height: 20px;
content: "";*/
}
.testimonials .container .box p {
  color: #777;
  line-height: 1.5;
}
/*Start team member */
.members {
  padding-top: var(--main-padding-section-top);
  padding-bottom: var(--main-padding-section-bottom);
  position: relative;
  /*background-color: white;*/
}
.members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}
.members .container .box {
  position: relative;
}
.members .container .box::before,
.members .container .box::after {
  content: "";
  position: absolute;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0 0 0 / 12%);
  right: 0;
  top: 0;
  height: 100%;
  transition: var(--main-transition);
}
.members .container .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}
.members .container .box::after {
  width: 0;
  z-index: -1;
  background-color: #e4e4e4;
}
.members .container .box:hover::after {
  width: calc(100% - 60px);
}
@media (max-width: 767px) {
  .members .container .box::before {
    width: 100%;
  }
  .members .box .data img {
    padding-left: 20px;
  }
  .members .box .info {
    display: block;
    text-align: center;
    margin-right: 100px;
  }
}
.members .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.members .box .data img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-transition);
}
.members .box:hover .data img {
  filter: grayscale(100%);
}
.members .box .data .social {
  display: flex;
  flex-direction: column;
  width: 60px;
  align-items: center;
  gap: 20px;
}
.members .box .data .social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  transition: var(--main-transition);
}
.members .box .data .social a:hover .fa-twitter {
  color: var(--main-color);
}
.members .box .data .social a:hover .fa-linkedin-in {
  color: #0077b5;
}
.members .box .data .social a:hover .fa-facebook-f {
  color: #097ceb;
}
.members .box .data .social a:hover .fa-youtube {
  color: red;
}
.members .box .data .social i {
  color: #777;
  transition: var(--main-transition);
}
.members .box .info {
  padding-left: 80px;
}
.members .box .info h2 {
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 22px;
  transition: var(--main-transition);
}
.members .box:hover h2 {
  color: #777;
}
.members .box .info p {
  margin-top: 15px;
  margin-bottom: 20px;
}
/*End Team Members*/
/*Start Services */
.services {
  padding-top: var(--main-padding-section-top);
  padding-bottom: var(--main-padding-section-bottom);
  position: relative;
  background-color: var(--second-color);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}
.services .container .box {
  background-color: white;
  counter-increment: services;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
  /*overflow: hidden;*/
  transition: var(--main-transition);
}
.services .container .box::before {
  position: absolute;
  content: "";
  top: 0;
  width: 0px;
  height: 3px;
  background-color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.services .container .box:hover {
  transform: translateY(-10px);
}
.services .container .box:hover::before {
  width: 100%;
}

.services .container .box > i {
  color: #d5d5d5;
  margin: 30px 0 20px;
  text-align: center;
  display: block;
}
.services .container .box > h3 {
  margin: 20px 0 40px;
  color: var(--main-color);
  font-size: 25px;
  text-align: center;
}
.services .container .box .info {
  padding: 15px;
  background-color: #fafafa;
  position: relative;
  text-align: right;
}
.services .container .box .info::before {
  content: "0" counter(services);
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  color: white;
  height: 100%;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .container .box .info::after {
  position: absolute;
  top: 0;
  left: 75px;
  background-color: #d5d5d5;
  height: 100%;
  width: 50px;
  content: "";
  transform: skewX(-30deg);
}
.services .container .box .info a {
  color: var(--main-color);
}
/*End Services  */
/*Start Skills*/
.our-skills {
  padding-top: var(--main-padding-section-top);
  padding-bottom: var(--main-padding-section-bottom);
  position: relative;
}
.our-skills .container {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .our-skills .container img {
    display: none;
  }
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skill h3 {
  /*margin-top: 20px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-skills .skill h3 span {
  color: var(--main-color);
  font-size: 13px;
  border: 1px solid #ccc;
  padding: 1px 3px 0;
  border-radius: 4px;
}
.our-skills .skill .the-progress {
  height: 30px;
  position: relative;
  background-color: #eee;
}
.our-skills .skill .the-progress span {
  background-color: var(--main-color);
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
/*end Skills*/
/*Start How it work */
.work-steps {
  padding-top: var(--main-padding-section-top);
  padding-bottom: var(--main-padding-section-bottom);
  background-color: var(--second-color);
  position: relative;
}
.work-steps .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
}
.work-steps .container img {
  max-width: 100%;
  margin-right: 100px;
}
@media (max-width: 991px) {
  .work-steps .container > img {
    margin: 0 0 35px;
  }
}
.work-steps .container .box img {
  width: 50px;
  height: 50px;
  margin-right: 30px;
}
@media (max-width: 991px) {
  .work-steps .container .box img {
    margin: 0 0 20px;
  }
}
.work-steps .container .box {
  padding: 30px;
  background-color: #f6f5f5;
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
@media (max-width: 991px) {
  .work-steps .container .box {
    flex-direction: column;
  }
}
.work-steps .container .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ededed;
  height: 0;
  width: 0;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: var(--main-transition);
}
.work-steps .container .box:hover::before {
  width: 100%;
  height: 100%;
}
.work-steps .container .box .info h3 {
  margin: 0;
  font-size: 22px;
}
.work-steps .container .box .info p {
  color: #777;
  line-height: 1.7;
  font-size: 18px;
  margin: 10px 0 0;
}
@media (max-width: 991px) {
  .work-steps .container .box .info {
    text-align: center;
  }
}
/*End How it work */
/*Start Lastest Envent */
.events {
  padding-top: var(--main-padding-section-top);
  padding-bottom: var(--main-padding-section-bottom);
  position: relative;
}
.events .container {
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  gap: 30px;
  flex-wrap: wrap;
}
.events .container .image img {
  max-width: 450px;
}
@media (max-width: 991px) {
  .events .container .image img {
    display: none;
  }
}
.events .container .content {
  flex: 1;
}
.events .container .countdown {
  display: flex;
  gap: 10px;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}
.events .container .countdown .count-box {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  width: 75px;
  text-align: center;
  transition: var(--main-transition);
}
.events .container .countdown .count-box span {
  display: block;
}
.events .container .countdown .count-box span:first-of-type {
  color: var(--main-color);
  font-size: 30px;
  padding: 15px;
  font-weight: bold;
}
.events .container .countdown .count-box span:last-of-type {
  border-top: 1px solid #d4d4d4;
  font-size: 13px;
  color: #777;
  padding: 8px 10px;
}
.events .container .countdown .count-box:hover span:last-of-type {
  border-top: 1px solid var(--main-color);
}
.events .container .countdown .count-box:hover {
  border-color: var(--main-color);
}
.events .container .content .title {
  font-size: 30px;
  font-weight: bold;
  margin: 40px 0 0;
  text-align: center;
}
.events .container .content .description {
  line-height: 1.7;
  color: #777;
  font-size: 20px;
  text-align: center;
}
.events .container .subscribe {
  width: 100%;
  margin-top: 50px;
}
.events .container .subscribe form {
  margin: 20px auto;
  border-radius: 50px;
  width: 600px;
  display: flex;
  gap: 20px;
  background-color: #f6f5f5;
  padding: 30px 40px;
}
@media (max-width: 767px) {
  .events .container .subscribe form {
    padding: 20px;
    border-radius: 0;
    max-width: 100%;
    flex-direction: column;
  }
}
.events .container .subscribe form input[type="email"] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  flex: 1;
  caret-color: var(--main-color);
}
@media (max-width: 767px) {
  .events .container .subscribe form input[type="email"] {
    border-radius: 0;
  }
}
.events .container .subscribe form input[type="email"]:focus {
  outline: none;
}
.events .container .subscribe form input[type="email"]::placeholder {
  transition: opacity var(--main-transition);
}
.events .container .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}

.events .container .subscribe form input[type="submit"] {
  padding: 20px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .events .container .subscribe form input[type="submit"] {
    border-radius: 0;
  }
}
.events .container .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/*End Lastest Envent */
/* Start Pricing */
.pricing {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: var(--second-color);
}

.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.pricing .box {
  position: relative;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  background: white;
  text-align: center;
  z-index: 1;
}
.pricing .box::before,
.pricing .box::after {
  content: "";
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  position: absolute;
  z-index: -1;
  transition: var(--main-transition);
}
.pricing .box::before {
  left: 0;
  top: 0;
}
.pricing .box::after {
  right: 0;
  bottom: 0;
}
.pricing .box:hover::before,
.pricing .box:hover::after {
  width: 100%;
}
@media (min-width: 1200px) {
  .pricing .box.popular {
    top: -20px;
  }
}
.pricing .box.popular .label {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 20px;
  width: 40px;
}
.pricing .box.popular .label::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white;
  border-width: 20px;
}

.pricing .box .title {
  font-weight: bold;
  margin: 30px 0;
  font-size: 25px;
  letter-spacing: -1px;
}
.pricing .box img {
  width: 80px;
  margin-bottom: 30px;
}
.pricing .box .price {
  margin-bottom: 20px;
}
.pricing .box .amount {
  display: block;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--main-color);
}
.pricing .box .time {
  color: #777;
}
.pricing .box ul {
  text-align: left;
}
.pricing .box ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}
.pricing .box ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}
.pricing .box a {
  display: block;
  width: fit-content;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  margin: 30px auto 40px;
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: var(--main-transition);
}
.pricing .box a:hover {
  background-color: var(--main-color-alt);
  border-color: var(--main-color-alt);
  color: white;
}
/* End Pricing */
/*Start Top Video */
.videos {
  padding-top: var(--main-padding-section-top);
  padding-bottom: var(--main-padding-section-bottom);
  position: relative;
}
.videos .holder {
  display: flex;
  justify-content: center;
  /*gap: 20px;*/
  /*position: relative;*/
  border: 1px solid #ddd;
  background-color: var(--section-background);
}
@media (max-width: 767px) {
  .videos .holder {
    flex-direction: column;
  }
}
.videos .container .content {
  background-color: white;
  min-width: 300px;
}
.videos .container .content .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 20px;
  font-weight: bold;
}
.videos .container .content li {
  padding: 20px;
  transition: var(--main-transition);
  border-top: 1px solid var(--section-background);
}
.videos .container .content li {
  color: black;
}
.videos .container .content ul li a:hover {
  color: var(--main-color);
  /*background-color: #FAFAFA;*/
}
.videos .container .content li span {
  color: #777;
  margin-top: 10px;
  display: block;
}
.videos .container .preview {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #e2e2e2;
}
.videos .preview img {
  max-width: 100%;
}

.videos .container .info {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}
/*End Top Video */
/*Start Our State*/
.state {
  padding-top: var(--main-padding-section-top);
  padding-bottom: var(--main-padding-section-bottom);
  position: relative;
  background-image: url(../images/stats.jpg);
  background-size: cover;
  z-index: 0;
  min-width: 300px;
}
.state::before {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.915);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.state .container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.state h2 {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  /*z-index: 4;*/
  padding: 20px;
  margin-top: 0;
}
.state .container .box {
  background-color: white;
  /*z-index: 5;*/
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.29);
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  opacity: 0.8;
  transition: var(--main-transition);
}
.state .container .box:hover {
  opacity: 1;
}
.state .container .box::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 0;
  background-color: var(--main-color);
  bottom: 0;
  left: 0;
  transition: var(--main-transition);
}
.state .container .box:hover::before {
  height: 100%;
}
.state .container .box::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 0;
  background-color: var(--main-color);
  top: 0;
  right: 0;
  transition: var(--main-transition);
}
.state .container .box:hover::after {
  height: 100%;
}
.state .container .box h3 {
  font-size: 50px;
  font-weight: bold;
  margin: 10px 0;
  display: block;
}
.state .container .box p {
  font-size: 20px;
  color: var(--main-color);
  font-weight: bold;
  margin: 0;
  font-style: italic;
}
/*End Our State*/
/*Start Discount*/
.discount {
  /*padding-top: var(--main-padding-section-top);*/
  /*padding-bottom: var(--main-padding-section-bottom);*/
  /*position: relative;*/
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}
.discount .text {
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-image: url(../images/discount-background1.jpg);
  width: 100px;
  animation: change-background 10s linear infinite;
}
@media (max-width: 767px) {
  .discount .text {
    flex-basis: 100%;
  }
}
.discount .text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2195f3e9;
  z-index: -1;
}
.discount .content {
  text-align: center;
  padding: 0 20px;
}
.discount .content h1 {
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}
.discount .text img {
  width: 300px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .discount .text img {
    padding-bottom: 30px;
  }
}
.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  width: 100px;
}
@media (max-width: 767px) {
  .discount .form {
    flex-basis: 100%;
  }
}
.discount .form .fill {
  padding: 15px;
  margin-bottom: 25px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  width: 100%;
  caret-color: var(--main-color);
}
.discount .form textarea.fill {
  height: 200px;
  resize: none;
}
.discount .form .fill:focus {
  outline: none;
}
.discount .form input[type="button"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  transition: var(--main-transition);
  cursor: pointer;
}
.discount .form input[type="button"]:hover {
  background-color: var(--main-color-alt);
}
/*End Discount*/
/*Start Footer */
.footer {
  padding: 70px 0 0;
  background-color: #191919;
  /*position: relative;*/
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
    margin-top: 60px;
  }
}
.footer .container {
  display: grid;
  gap: 40px;
  /*border-bottom: 2px solid white;*/
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.footer .container .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .container .box .social {
  display: flex;
}
@media (max-width: 767px) {
  .footer .container .box .social {
    justify-content: center;
  }
}
.footer .container .box .social li {
  margin-right: 10px;
}

.footer .container .box .social li a {
  font-size: 20px;
  background-color: #313131;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: var(--main-transition);
  color: #b9b9b9;
}

.footer .container .box p {
  color: #b9b9b9;
  line-height: 2;
}

.footer .container .social .twitter:hover {
  background-color: #1da1f2;
}
.footer .container .social .linkedin:hover {
  background-color: #0077b5;
}
.footer .container .social .facebook:hover {
  background-color: #1877f2;
}
@media (max-width: 767px) {
  .footer .container .lines {
    flex-direction: column;
  }
}

.footer .container .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}

.footer .container .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .container .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer .container .links li:hover {
  padding-left: 10px;
}
.footer .container .links li a:hover {
  color: white;
}
.footer .container .links li a::before {
  font-weight: 900;
  color: var(--main-color);
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  margin-right: 10px;
}

.footer .container .line {
  color: #b9b9b9;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .container .line i {
  font-size: 25px;
  margin-right: 10px;
  color: var(--main-color);
}
@media (max-width: 767px) {
  .footer .box .line i {
    margin-bottom: 10px;
  }
}
.footer .container .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .container .line .info span {
  display: block;
}

.footer .container .footer-gallery img {
  border: 3px solid white;
  width: 78px;
  margin: 2px;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
/*End Footer */

/*Start Animation*/
@keyframes up {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes boucing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes right-to-left {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes left-to-right {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes move-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes change-background {
  0%,
  100% {
    background-image: url(../images/discount-background1.jpg);
  }
  50% {
    background-image: url(../images/discount-background2.jfif);
  }
}

/*End Animation*/
